<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cutest Shopping List</title>
  <link rel="icon" href="https://cdn-icons-png.flaticon.com/128/826/826904.png">
  <link rel="stylesheet" href="css/main.css">
  <script src ="https://unpkg.com/vue@2.6.14"></script>
</head>
<body>
  <div id="shopping-list">
    <div class="header">
      <h1> {{ title }} </h1>
      <button v-if="state === 'default'" class="btn btn-primary" @click="changeState('edit')">Edit</button>
      <button v-else class="btn btn-cancel" @click="changeState('default')">Go back</button>
    </div>
    <div v-if="state === 'edit'" class="add-item-form">
      <input v-model="newItem" @keyup.enter="saveItem" placeholder="Write out the new item" type="text" name="newItem" id="newItem">
      <button @click="saveItem" :disabled="newItem.length === 0" class="btn btn-primary">Save item</button>
      <button v-if="items.length != 0 && state === edit" v-on:click="deleteItem" style="background-color:red" class="btn btn-primary"> Delete Last Item</button>
      <button v-if="items.length === 0 && state === edit" v-on:click="deleteItem" style="background-color:grey" class="btn btn-primary" disabled="true"> Delete Last Item</button>
      <p v-if="items.length == 0">Nothing to shop, add some items to see them here!</p>
    </div>
    <ul>
      <li v-for="item in reversedItems" :class="{strikeout: item.purchased}" @click="togglePurchased(item)">{{ item.label }}</li>
    </ul>
  </div>
  <script>
    const shoppingList = new Vue({
      el: "#shopping-list",
      data: {
        state: "default",
        title: "My Cute Shopping List",
        newItem: 'Write out the new item',
        items: [
          "Oranges", 
          "Apples",
          "Chocolate"
        ]
      },
      methods: {
        saveItem: function() {
          this.items.push(this.newItem); 
          this.newItem = ''
        },
        changeState: function(newState) {
          this.state = newState;
          this.newItem = ''
        },
        togglePurchased: function(item) {
          item.purchased = !item.purchased;
        }
      }
    })
  </script>
</body>
</html>